body {
}
.row
{
    background-color:lightgray;
    justify-content:center;
}
.table
{
    background-color: lightgray;
    justify-content: center;
}
.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imageIcon {
    width: 35px;
    height: 35px;
}
.imgindex {
    width: 35px;
    height: 35px;
    margin-left:20px
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.icon {
    border: solid 0px #42515f;
}
.logoicon{
    width:50px;
    height:50px;
}
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    color: #42515f;
}
.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-top: 20px;
}
.form-create {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: darkblue;
    text-transform: capitalize;
    opacity: 1;
    padding-top: 20px;
}
.form-list {
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    margin-left:40%;
}
.head-con {
    background-color: lightgray;
    justify-content: center;
    justify-items: center;
}
label {
    min-width: 100px;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: solid black;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.imagerow {
    float: left;
    clear: none;
    box-sizing: border-box;
    font-family: ‘Open Sans’, sans-serif;
    font-size: 13px;
    line-height: 30px;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
}
